* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// import variables
@import "./_variables.scss";
// import mixin
@import "./_mixin.scss";

.container {
    width: 100%;
    height: fit-content;
    position: absolute;
    @include absoluteElement(center);

    &-title {
        padding: 20px;
        &:hover {
            background-color: $textColor;
        }
        &-text {
            font-size: 18px;
            color: rgb(255, 0, 212);
        }
        &:hover &-text {
            color: white;
        }
    }
}